<li id="1">
    <div class="img"><%= image_tag "cat.jpg", height: '370', width: '370', :class => "img-responsive" %></div>
    <div class="user-name pull-left"><b>Jhonny</b></div>
    <div class="user-location text-right"><i class="fa fa-map-marker"></i> Campos dos Goytacazes </div>
    <div class="user-name pull-left"><b>Persan</b></div>
    <div class="user-size"><i class="fa fa-map-marker"></i> 5 Kg </div>
    <div class="like"></div>
    <div class="like"></div>
    <div class="dislike"></div>
</li>