<li id="1">
    <div class="img"><%= image_tag "cat.jpg", height: '370', width: '370' %></div>
    <div class="user-name pull-left">
    	 <b>Jhonny</b>, 1 ano
    </div>
    <div class="user-location text-right"><i class="fa fa-map-marker"></i> Campos dos Goytacazes </div>
    <div class="like"></div>
    <div class="dislike"></div>
</li>