 <div class="container-fluid">
   <div class="row">
    <div class="wrap">
      
      <div id="tinderslide">
        <ul>
          <%= render @pets %>  
        </ul>
      </div>
      <div class="load" id="petload">
            <i class="fa fa-paw fa-3x"></i>
      </div>

      <div class="actions" id="actionFriendship">
       <a href="#" class="dislike"><i class="fa fa-times"></i></a>
       <a href="#" class="like"><i class="fa fa-heart"></i></a>
     </div>
     
   </div>
   
 </div>

</div>
 <script type="text/javascript">



  $('.actions .like, .actions .dislike').click(function(e){

  e.preventDefault();
  $("#tinderslide").jTinder($(this).attr('class'));
});


  $("#tinderslide").jTinder({
    onDislike: function (item) {
       var myId = $("#tinderslide > ul li").last().attr("id");

        $.ajax ({
            type: 'POST',
            url: '/pets/dislike',
            data: {friend_id: myId}
        })


    },
    onLike: function (item) {
      var myId = $("#tinderslide > ul li").last().attr("id");

        $.ajax ({
            type: 'POST',
            url: '/pets/like',
            data: {friend_id: myId}
        })




    },
    animationRevertSpeed: 200,
    animationSpeed: 400,
    threshold: 1,
    likeSelector: '.like',
    dislikeSelector: '.dislike'
  });


</script>
