<div class="container">
    <table class="table table-striped">
		<thead>
			<tr>
				<th></th>
				<th>Nome do Animal</th>
				<th>Combinado em</th>
				<th></th>
			</tr>
		</thead>
	<tbody>
      <%= render 'match', collection: @matches %>
	</tbody>
    </table>
</div>

<script type="text/javascript">
	$(function () {
		$('[data-toggle="tooltip"]').tooltip()
	})
</script>