 
  	<%= image_tag "logo.png", :alt => "Marca 3Lovet", :class => "img-responsive center-block"  %> 


  <div class="row">
    <div class="col-xs-6 .col-md-4 text-right">
     



      <%= link_to :locale => 'pt-BR' do %>
       <img class="flag flag-br" />
      <% end %> 

      <%= link_to :locale => 'en' do %> 
       <img class="flag flag-us" />
      <% end %>
    
      <%= link_to :locale => 'es' do %>  
       <img class="flag flag-es" />
      <% end %> 


    </div>


    <div class="col-xs-6 .col-md-4">

    </div>
    <div class="col-xs-6 .col-md-4">

    </div>
  </div>
 