<footer>
<hr>
<div class="row">
            <div class="col-xs-8">
                <ul class="list-unstyled list-inline pull-left">
                    <li><a href="http://www.rodolfopeixoto.com.br", target="_blank">Terms of Service</a></li>
                    <li><a href="http://www.rodolfopeixoto.com.br", target="_blank">Contato</a></li>
                    <li><a href="http://www.rodolfopeixoto.com.br", target="_blank">Privacidade</a></li>
                </ul>
            </div>
            <div class="col-xs-4">
                <p class="text-muted pull-right">© 2016 3IBit. All rights reserved</p>
            </div>
        </div>
</footer>